@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
@font-face {
  font-family:  'Norse Bold';
  src: url('Norse-Bold.otf');
}

* {
  font-family: 'Inter','Helvetica Neue','Helvetica','Arial',sans-serif;
  box-sizing: border-box;
}

.left-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  height: 99vh;
  overflow: hidden;
  margin: 0;
}

.left-div img {
  height: auto;
  object-fit: cover;

  margin-left: 40em;
}

/* TODO - Change position of credit to overlay bottom of image */