@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");
@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf");
}

* {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e2e8f0;
  display: flex;
}

a {
  color: inherit;
}

.left-div,
.left-logo-div {
  width: 33vw;
}

.left-div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
  height: 99vh;

  background-image: url("./karlheinz_eckhardt-eckhardt-SykSbC40ZdY-unsplash.jpg");
  background-size: cover;
  background-position-x: 32%;
}

.left-logo-div {
  position: absolute;
  left: 8px;
  height: 10vh;
  margin-top: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 55%;
  background-color: #020617;
  object-fit: contain;
  overflow: hidden;
}

.left-logo-div img {
  height: 80%;
}

.left-logo-div span {
  font-family: "Norse Bold", "Ubuntu";
  font-size: 5em;
  color: white;
  margin-left: 8px;
}

.seal-credit {
  position: absolute;
  bottom: 0;

  margin-left: 9px;

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;

  height: 99vh;
  padding-left: 3rem;
  padding-right: 3rem;
  /* border: 1px solid blue; */
}

.main-content * {
  /* border: 1px solid orange; */
}

/* TODO - Change position of credit to overlay bottom of image */
