@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf");
}

* {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9;
  display: flex;
  margin: 0;
}

a {
  color: inherit;
}

.left-div,
.left-logo-div {
  width: 33vw;
}

.left-div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
  height: 100vh;

  background-image: url("./karlheinz_eckhardt-eckhardt-SykSbC40ZdY-unsplash.jpg");
  background-size: cover;
  background-position-x: 32%;
}

.left-logo-div {
  position: absolute;
  height: 10vh;
  margin-top: 4vh;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 70%;
  background-color: #4a5464;
  overflow: hidden;
}

.left-logo-div img {
  height: 80%;
}

.left-logo-div span {
  font-family: "Norse Bold", "Ubuntu", sans-serif;
  font-size: 5em;
  color: white;
  margin-left: 8px;
}

.seal-credit {
  position: absolute;
  bottom: 0;

  font-size: 14px;
  font-weight: 400;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  height: 100vh;
  width: 100%;
}

.main-content * {
  padding-left: 3rem;
  padding-right: 3rem;
}

.form-div {
  background-color: white;
  margin: 0;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0.4rem 8px #02061745;
}

.form-div * {
  padding: 0;
  margin-top: 0;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem 0.5rem 0;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f172a;
  margin-bottom: 0.2rem;
}

.form-item input {
  padding: 0.4rem;

  background-color: #fffefe;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
}

.input-error {
  display: none;
  font-size: 0.9rem;
  padding-top: 4px;
  color: #834b1e;
}

.form-item input:focus {
  outline-color: #94a3b8;
  background-color: #ecfeff;
}

.form-item input:invalid {
  border: 1px solid #834b1e;
}

.form-item input:invalid + .input-error {
  display: block;
}

.submit-button {
  width: 12.5rem;
  margin-left: 3rem;
  padding: 1rem 2rem;

  background-color: #834b1e;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #905727;
}

.submit-button:active {
  background-color: #744116;
}

.login-notice {
  margin-top: 2rem;
}

.login-notice a {
  padding: 0;
  font-weight: 700;
  text-decoration: none;
  color: #834b1e;
}

@media (max-width: 600px) {
  .left-logo-div span {
    font-size: 3em;
  }
}

/* TODO - Javascript to check password match */
